@media only screen and (max-width:768px){

    .header{
        height: 100px;
        width: 100%;
    }
    .logo-img{
        height: 100px;
        width: 300px;
        float:left;
    }
    .img{
        height:80px;
        width:300px
    }
    .logo1-img{
        height: 100px;
        width: 70px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-icon-content{
        display: none;
    }
    .header1-icon1-content1{
        display: none;
    }
    .header2-icon2-content2{
        display: none;
    }
    .header3-icon3-content3{
        display: none;
    }
    .navbar{
        height: 50px;
        width: 100%;
        background: black;
    }
    .openmenu{
        width:50%;
        background: #0099ff;
    }
    .mainmenu{
        display: none;
    }
    .mainmenu ul li a{
        display: block; 
    }
    .bar{
        width: 50%;
        background-color:yellow;
        ;
    }
    .navbar .fa-bars{
        display: block;
       padding-top: 10px;
       padding-left: 20px;
       font-size: 30px;
    }
    .bar .input{
        height:50px;
        width: 50%;
        display: block;
        background:red;
        color: aliceblue;
    }
    .bar .fa-magnifying-glass{
        color: aliceblue;
        display: block;
    }
    .content{
        height: 300px;
        width: 100%;
        background-image: url(bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }  
    .p-icon{
        height: 40px;
        width: 100%;
        padding-top: 20px;
        background: transparent;
    }      
    .content p{
        padding-left: 10px;
        color: white;
        font-size: 14px;
    }
    .content-h1 h1{
        padding-top: 50px;
        padding-left: 30px;
        color: aliceblue;
    }
    .content-h1 h4{
        padding-left: 30px;
        color: aliceblue;
    }
    .nav-items{
        display: none;
    }
    .main{
        height: 850px;
        width: 100%;
    }
    .section1{
        height:450px;
        width: 100%;
    }
    .section1 h1{
        padding-top: 0px;
        padding-left: 40px;
        font-size: 20px;
    }
    .section1 h5{
        padding-left: 45px;
        font-size: 12px;
    }
    .section2{
        height:450px;
        width: 100%;
    }
    .section-img{
        height: 300px;
        width: 80%;
        background-image: url(treat.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container-main{
        width:100%;
        display: flex;
    }
    .container1{
    width:100%;
    }
    .container2{
        display: none;
    }
    .container-content-1{
        border-bottom: 2px dashed red;
    }
    .container-content-1 h1{
        padding-top: 80px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        
    }
    .container-content-1 h4{
        padding-left: 20px;
        font-size: 14px;
        font-family:  'Poppins', sans-serif;
        padding-top: 50px;
    }
    .container-con1{
        margin-left: 5px;
    }
    .container-content-2 h1{
        padding-top: 80px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    .container-content-2 h4{
        padding-left: 20px;
        font-size: 14px;
        font-family:  'Poppins', sans-serif;
        padding-top: 50px;
    }
    .container-con2{
        margin-left: 5px;
    }
    .container-content-3 h1{
        padding-top: 80px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    .container-content-3 h4{
        padding-left: 20px;
        font-size: 14px;
        font-family:  'Poppins', sans-serif;
        padding-top: 50px;
    }
    .container-con3{
        margin-left: 5px;
    }
    .container-content-4 h1{
        padding-top: 80px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    .container-content-4 h4{
        padding-left: 20px;
        font-size: 14px;
        font-family:  'Poppins', sans-serif;
        padding-top: 50px;
    }
    .container-con4{
        margin-left: 5px;
    }
    .container-content-5 h1{
        padding-top: 80px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    .container-content-5 h4{
        padding-left: 20px;
        font-size: 14px;
        padding-top: 50px;
        font-family:  'Poppins', sans-serif;
    }
    .container-con5{
        margin-left: 5px;
    }
    .accordion h1{
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    }
    .accordion-item{
        margin-top: 50px;
        margin-left: 20px;
    }
    .container-content-7{
        display: none;
    }
    .carousel-1{
        display: none;
    }
    .carousel-2{
        display: none;
    }
    .con-con-1{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con-con-1 h6{
        padding-top: 10px;
        font-size: 12px;
    }
    .contact-1{
        height: 300px;
        width: 100%;
        background: #33ccff;
    }
    .contact-1 .a{
        height: 50px;
        width: 100%;
        padding-left: 130px;
        padding-top: 20px;
    }
    .contact-1 .a h6{
        padding-top: 50px;
    }
    .contact-1 .b{
        height: 50px;
        width: 100%;
        padding-left: 60px;
        padding-top: 20px;
    }
    .contact-1 .b h3{
        padding-top: 30px;
    }
    .contact-1 .c{
        height: 100px;
        width: 100%;
    }
    .contact-1 .c1{
        height: 100px;
        width: 50%;
        float: left;
        padding-left: 50px;
        padding-top: 70px;
    }
    .contact-1 .c1 button{
        height: 50px;
        width: 200px;
        background:  #3399ff;
        color: aliceblue;
    
    }
    .contact-1 .c2{
        height: 100px;
        width: 50%;
        float: left;
        padding-top: 75px;
    }
    .contact-1 .c2 a{
        color: aliceblue;
        padding-left: 10px  ;
    }
    .contact-box{
        display: none;
    }
    .footer-1{
        height: 250px;
        width: 100%;
        background:  #003366;  
        float: left; 
       }
       .footer-1 h5{
           padding-top: 100px;
           padding-left: 100px;
           color: aliceblue;
       }
       .footer-1 ul li {
           list-style: none;
           padding-left: 70px;
           color: aliceblue;
       }
       .footer-1 a{
           color: aliceblue;
       }
       .footer-2{
           height: 300px;
           width: 100%;
           background: #0b2432;
           float: left;
       }
       .footer-2 h5{
           padding-top: 100px;
           padding-left: 100px;
           color: aliceblue;
       }
       .footer-2 ul li {
           list-style: none;
           padding-left: 70px;
           color: aliceblue;
       }
       .footer-2 a{
           color: aliceblue;
       }
       
       .footer-3{
           height: 300px;
           width: 100%;
           background:  #0b2432 ; 
           float: left; 
          }
          .footer-3 h5{
           padding-top: 100px;
           padding-left: 100px;
           color: aliceblue;
       }
       .footer-3 ul li {
           list-style: none;
           padding-left: 70px;
           color: aliceblue;
       }
       .footer-3 a{
           color: aliceblue;
       }
       
       .footer-4{
           height: 400px;
           width: 100%;
           float: left; 
           background: #0b2432;
          }
          .footer-4-1{
           display: none;
          }
          .footer-4-2{
           height: 300px;
           width: 100%;
           background: #0b2432;
          }
          .footer-4-2 h5{
           padding-top: 100px;
           padding-left: 100px;
           color: aliceblue;
       }
       .footer-4-2 ul li {
           list-style: none;
           padding-left: 70px;
           color: aliceblue;
       }
       .footer-4-2 a{
           color: aliceblue;
       }
       .hospital{
        height: 640px;
        width: 100%;
        border-top: 2px solid white;
        background: #0b2432;
        display: flex;
        flex-direction: column;
    }
    .hospital-1{
    height: 150px;
    width: 100%;
    }
    .hospital-1 img{
        height: 150px;
        width: 100%;
    }
    .hospital-2{
    height: 300px;
    width: 100%;
    }
    .hospital-2 h3{
        padding-top: 20px;
    }
    .hospital-3{
    height: 180px;
    width: 100%;
    }
    .hospital-3 h2{
        padding-top:30px ;
        padding-left: 40px;
    }
    .hospital-3 h3{
        padding-left: 40px;
    }
    .hospital-3 h4{
        padding-left: 40px;
    }
    
    .copyright{
        width: 100%;
        height: 100px;
    }
    .text-1{
        padding-left: 10px;
        padding-top: 40px;
    }
    .text-1 h6{
        color: aliceblue;
        font-size: 12px;
    }
    .text-3{
        padding-left: 20px;
        padding-top: 40px;
    }
    .text-3 h6{
        color: aliceblue;
        font-size: 10px;
    }
    
    
       
}